---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mmbensalah/repos?access_token=b2ad51d5763aafbd7ba9f21db0515589b02429d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1543948533'
      Etag:
      - W/"4898a6cdb17ea1e09ae371d0bb88b880"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/37427031/repos?access_token=b2ad51d5763aafbd7ba9f21db0515589b02429d0&page=2>;
        rel="next", <https://api.github.com/user/37427031/repos?access_token=b2ad51d5763aafbd7ba9f21db0515589b02429d0&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":144994580,"node_id":"MDEwOlJlcG9zaXRvcnkxNDQ5OTQ1ODA=","name":"activerecord-obstacle-course","full_name":"mmbensalah/activerecord-obstacle-course","private":false,"owner":{"login":"mmbensalah","id":37427031,"node_id":"MDQ6VXNlcjM3NDI3MDMx","avatar_url":"https://avatars0.githubusercontent.com/u/37427031?v=4","gravatar_id":"","url":"https://api.github.com/users/mmbensalah","html_url":"https://github.com/mmbensalah","followers_url":"https://api.github.com/users/mmbensalah/followers","following_url":"https://api.github.com/users/mmbensalah/following{/other_user}","gists_url":"https://api.github.com/users/mmbensalah/gists{/gist_id}","starred_url":"https://api.github.com/users/mmbensalah/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mmbensalah/subscriptions","organizations_url":"https://api.github.com/users/mmbensalah/orgs","repos_url":"https://api.github.com/users/mmbensalah/repos","events_url":"https://api.github.com/users/mmbensalah/events{/privacy}","received_events_url":"https://api.github.com/users/mmbensalah/received_events","type":"User","site_admin":false},"html_url":"https://github.com/mmbensalah/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/mmbensalah/activerecord-obstacle-course/deployments","created_at":"2018-08-16T13:52:41Z","updated_at":"2018-09-19T21:02:15Z","pushed_at":"2018-09-19T21:02:14Z","git_url":"git://github.com/mmbensalah/activerecord-obstacle-course.git","ssh_url":"git@github.com:mmbensalah/activerecord-obstacle-course.git","clone_url":"https://github.com/mmbensalah/activerecord-obstacle-course.git","svn_url":"https://github.com/mmbensalah/activerecord-obstacle-course","homepage":null,"size":46,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":146019278,"node_id":"MDEwOlJlcG9zaXRvcnkxNDYwMTkyNzg=","name":"apollo_14","full_name":"mmbensalah/apollo_14","private":false,"owner":{"login":"mmbensalah","id":37427031,"node_id":"MDQ6VXNlcjM3NDI3MDMx","avatar_url":"https://avatars0.githubusercontent.com/u/37427031?v=4","gravatar_id":"","url":"https://api.github.com/users/mmbensalah","html_url":"https://github.com/mmbensalah","followers_url":"https://api.github.com/users/mmbensalah/followers","following_url":"https://api.github.com/[...]
