---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1544046857'
      Etag:
      - W/"40b87571ba76de20067a0e3d733957e6"
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_1>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN_1>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":146023948,"node_id":"MDEwOlJlcG9zaXRvcnkxNDYwMjM5NDg=","name":"enigma","full_name":"jjb0612/enigma","private":false,"owner":{"login":"jjb0612","id":36136108,"node_id":"MDQ6VXNlcjM2MTM2MTA4","avatar_url":"https://avatars2.githubusercontent.com/u/36136108?v=4","gravatar_id":"","url":"https://api.github.com/users/jjb0612","html_url":"https://github.com/jjb0612","followers_url":"https://api.github.com/users/jjb0612/followers","following_url":"https://api.github.com/users/jjb0612/following{/other_user}","gists_url":"https://api.github.com/users/jjb0612/gists{/gist_id}","starred_url":"https://api.github.com/users/jjb0612/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jjb0612/subscriptions","organizations_url":"https://api.github.com/users/jjb0612/orgs","repos_url":"https://api.github.com/users/jjb0612/repos","events_url":"https://api.github.com/users/jjb0612/events{/privacy}","received_events_url":"https://api.github.com/users/jjb0612/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jjb0612/enigma","description":null,"fork":false,"url":"https://api.github.com/repos/jjb0612/enigma","forks_url":"https://api.github.com/repos/jjb0612/enigma/forks","keys_url":"https://api.github.com/repos/jjb0612/enigma/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jjb0612/enigma/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jjb0612/enigma/teams","hooks_url":"https://api.github.com/repos/jjb0612/enigma/hooks","issue_events_url":"https://api.github.com/repos/jjb0612/enigma/issues/events{/number}","events_url":"https://api.github.com/repos/jjb0612/enigma/events","assignees_url":"https://api.github.com/repos/jjb0612/enigma/assignees{/user}","branches_url":"https://api.github.com/repos/jjb0612/enigma/branches{/branch}","tags_url":"https://api.github.com/repos/jjb0612/enigma/tags","blobs_url":"https://api.github.com/repos/jjb0612/enigma/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jjb0612/enigma/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jjb0612/enigma/git/refs{/sha}","trees_url":"https://api.github.com/repos/jjb0612/enigma/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jjb0612/enigma/statuses/{sha}","languages_url":"https://api.github.com/repos/jjb0612/enigma/languages","stargazers_url":"https://api.github.com/repos/jjb0612/enigma/stargazers","contributors_url":"https://api.github.com/repos/jjb0612/enigma/contributors","subscribers_url":"https://api.github.com/repos/jjb0612/enigma/subscribers","subscription_url":"https://api.github.com/repos/jjb0612/enigma/subscription","commits_url":"https://api.github.com/repos/jjb0612/enigma/commits{/sha}","git_commits_url":"https://api.github.com/repos/jjb0612/enigma/git/commits{/sha}","comments_url":"https://api.github.com/repos/jjb0612/enigma/comments{/number}","issue_comment_url":"https://api.github.com/repos/jjb0612/enigma/issues/comments{/number}","contents_url":"https://api.github.com/repos/jjb0612/enigma/contents/{+path}","compare_url":"https://api.github.com/repos/jjb0612/enigma/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jjb0612/enigma/merges","archive_url":"https://api.github.com/repos/jjb0612/enigma/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jjb0612/enigma/downloads","issues_url":"https://api.github.com/repos/jjb0612/enigma/issues{/number}","pulls_url":"https://api.github.com/repos/jjb0612/enigma/pulls{/number}","milestones_url":"https://api.github.com/repos/jjb0612/enigma/milestones{/number}","notifications_url":"https://api.github.com/repos/jjb0612/enigma/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jjb0612/enigma/labels{/name}","releases_url":"https://api.github.com/repos/jjb0612/enigma/releases{/id}","deployments_url":"https://api.github.com/repos/jjb0612/enigma/deployments","created_at":"2018-08-24T18:01:44Z","updated_at":"2018-08-29T17:46:47Z","pushed_at":"2018-08-29T17:46:46Z","git_url":"git://github.com/jjb0612/enigma.git","ssh_url":"git@github.com:jjb0612/enigma.git","clone_url":"https://github.com/jjb0612/enigma.git","svn_url":"https://github.com/jjb0612/enigma","homepage":null,"size":141,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":151342025,"node_id":"MDEwOlJlcG9zaXRvcnkxNTEzNDIwMjU=","name":"activerecord-obstacle-course","full_name":"jplao/activerecord-obstacle-course","private":false,"owner":{"login":"jplao","id":28496818,"node_id":"MDQ6VXNlcjI4NDk2ODE4","avatar_url":"https://avatars3.githubusercontent.com/u/28496818?v=4","gravatar_id":"","url":"https://api.github.com/users/jplao","html_url":"https://github.com/jplao","followers_url":"https://api.github.com/users/jplao/followers","following_url":"https://ap[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN_1>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1544046857'
      Etag:
      - W/"771bf523ffc2752d0c[...]
