---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1544060375'
      Etag:
      - W/"24525fce5dde04f4dc5605ba53f7ae67"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":141833494,"node_id":"MDEwOlJlcG9zaXRvcnkxNDE4MzM0OTQ=","name":"black_thursday","full_name":"andrewetobin/black_thursday","private":false,"owner":{"login":"andrewetobin","id":37811063,"node_id":"MDQ6VXNlcjM3ODExMDYz","avatar_url":"https://avatars3.githubusercontent.com/u/37811063?v=4","gravatar_id":"","url":"https://api.github.com/users/andrewetobin","html_url":"https://github.com/andrewetobin","followers_url":"https://api.github.com/users/andrewetobin/followers","following_url":"https://api.github.com/users/andrewetobin/following{/other_user}","gists_url":"https://api.github.com/users/andrewetobin/gists{/gist_id}","starred_url":"https://api.github.com/users/andrewetobin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andrewetobin/subscriptions","organizations_url":"https://api.github.com/users/andrewetobin/orgs","repos_url":"https://api.github.com/users/andrewetobin/repos","events_url":"https://api.github.com/users/andrewetobin/events{/privacy}","received_events_url":"https://api.github.com/users/andrewetobin/received_events","type":"User","site_admin":false},"html_url":"https://github.com/andrewetobin/black_thursday","description":null,"fork":true,"url":"https://api.github.com/repos/andrewetobin/black_thursday","forks_url":"https://api.github.com/repos/andrewetobin/black_thursday/forks","keys_url":"https://api.github.com/repos/andrewetobin/black_thursday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/andrewetobin/black_thursday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/andrewetobin/black_thursday/teams","hooks_url":"https://api.github.com/repos/andrewetobin/black_thursday/hooks","issue_events_url":"https://api.github.com/repos/andrewetobin/black_thursday/issues/events{/number}","events_url":"https://api.github.com/repos/andrewetobin/black_thursday/events","assignees_url":"https://api.github.com/repos/andrewetobin/black_thursday/assignees{/user}","branches_url":"https://api.github.com/repos/andrewetobin/black_thursday/branches{/branch}","tags_url":"https://api.github.com/repos/andrewetobin/black_thursday/tags","blobs_url":"https://api.github.com/repos/andrewetobin/black_thursday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/andrewetobin/black_thursday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/andrewetobin/black_thursday/git/refs{/sha}","trees_url":"https://api.github.com/repos/andrewetobin/black_thursday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/andrewetobin/black_thursday/statuses/{sha}","languages_url":"https://api.github.com/repos/andrewetobin/black_thursday/languages","stargazers_url":"https://api.github.com/repos/andrewetobin/black_thursday/stargazers","contributors_url":"https://api.github.com/repos/andrewetobin/black_thursday/contributors","subscribers_url":"https://api.github.com/repos/andrewetobin/black_thursday/subscribers","subscription_url":"https://api.github.com/repos/andrewetobin/black_thursday/subscription","commits_url":"https://api.github.com/repos/andrewetobin/black_thursday/commits{/sha}","git_commits_url":"https://api.github.com/repos/andrewetobin/black_thursday/git/commits{/sha}","comments_url":"https://api.github.com/repos/andrewetobin/black_thursday/comments{/number}","issue_comment_url":"https://api.github.com/repos/andrewetobin/black_thursday/issues/comments{/number}","contents_url":"https://api.github.com/repos/andrewetobin/black_thursday/contents/{+path}","compare_url":"https://api.github.com/repos/andrewetobin/black_thursday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/andrewetobin/black_thursday/merges","archive_url":"https://api.github.com/repos/andrewetobin/black_thursday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/andrewetobin/black_thursday/downloads","issues_url":"https://api.github.com/repos/andrewetobin/black_thursday/issues{/number}","pulls_url":"https://api.github.com/repos/andrewetobin/black_thursday/pulls{/number}","milestones_url":"https://api.github.com/repos/andrewetobin/black_thursday/milestones{/number}","notifications_url":"https://api.github.com/repos/andrewetobin/black_thursday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/andrewetobin/black_thursday/labels{/name}","releases_url":"https://api.github.com/repos/andrewetobin/black_thursday/releases{/id}","deployments_url":"https://api.github.com/repos/andrewetobin/black_thursday/deployments","created_at":"2018-07-21T17:36:45Z","updated_at":"2018-08-01T15:59:09Z","pushed_at":"2018-08-01T15:59:08Z","git_url":"git://github.com/andrewetobin/black_thursday.git","ssh_url":"git@github.com:andrewetobin/black_thursday.git","clone_url":"https://github.com/andrewetobin/black_thursday.git","svn_url":"https://github.com/andrewetobin/black_thursday","homepage":null,"size":1747,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":156993648,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY5OTM2NDg=","name":"nrel_solar","full_name":"JLing88/nrel_solar","private":false,"owner":{"login":"JLing88","id":36896513,"node_id":"MDQ6VXNlcjM2ODk2NTEz","avatar_url":"https://avatars1.githubusercontent.com/u/36896513?v=4","gravatar_id":"","url":"https://api.github.com/users/JLing88","html_url":"https://github.com/JLing88","followers_url":"https://api.github.com/users/JLing88/followers","following_url":"https://api.github.com/users/JLing88[...]
