<h1>Hello <%= @invitee[:name] %>,</h1>

<p>
<%= @user.first_name %> has invited you to join Brownfield of Dreams.
You can create an account <%= link_to 'here', 'https://sheltered-sands-76845.herokuapp.com/register' %>.
</p>
